includes:
    - ./vendor/nunomaduro/larastan/extension.neon
parameters:
    level: 6
    paths:
        - app
        - config
    ignoreErrors:
        - message: '#^Access to an undefined property Sabre\\VObject\\Component\\VEvent\:\:\$(UID|SUMMARY|DTSTART|DTEND|URL|LOCATION)\.$#'
          path: app/
          count: 6
